//
   Created by moshensky on 7/20/15.
template
  require(from="../pager/pager")
  div.wrapper
    div.grid-container.header(show.bind="!showNoRowsMessage || (showNoRowsMessage && count > 0)")
      table.table.table-hover.selectable(show.bind="!showNoRowsMessage || (showNoRowsMessage && count > 0)")
        thead
          tr(if.bind="showColumnFilters")
            td(repeat.for="$column of columns" class="${ $column.class !== '' ? $column.class : '' }")
              input.form-control(if.bind="$column.showInputFilter", value.bind="$column.filterValue", input.delegate="$column.updateFilters()")
              datepicker(if.bind="$column.showDateFilter", value.two-way="$column.filterValue", change.trigger="$column.updateFilters()")
              div(if.bind="$column.showDateFromToFilter")
                datepicker(value.two-way="$column.filterValueFrom", change.trigger="$column.updateFilters()")
                datepicker(value.two-way="$column.filterValueTo", change.trigger="$column.updateFilters()")
              div(if.bind="$column.showBooleanFilter")
                button.btn.btn-primary(click.delegate="$column.toggleBooleanFilter()")
                  i.fa.fa-square-o.fa-lg(show.bind="$column.filterValue === false || $column.filterValue == undefined")
                  i.fa.fa-check-square.fa-lg(show.bind="$column.filterValue === true")
                button.btn.btn-primary(click.delegate="$column.clearBooleanFilter()",  if.bind="$column.filterValue != undefined")
                  i.fa.fa-times-circle.fa-lg
              select-two(if.bind="$column.showSelect2Filter", value.two-way="$column.filterValue", caption="${ 'common.choose' | t }", items.bind="$parent.$parent[$column.select2Items]", change.trigger="$column.updateFilters()")
          tr(role="button")
            th(repeat.for="$column of columns" class="${ $column.class !== '' ? $column.class : '' }")
              a(if.bind="$column.nosort == false && $parent.sortable", click.trigger="$parent.sortChanged($column.field)") ${ $column.heading }
              span(if.bind="$column.nosort == true || !$parent.sortable") ${ $column.heading }
              svg(if.bind="$parent.sorting[$column.field] === 'desc'" height="8" width="10")
                polygon(class="grid-sort-arrow" points="0,0 8,0 4,8")
              svg(if.bind="$parent.sorting[$column.field] === 'asc'" height="8" width="10")
                polygon(class="grid-sort-arrow" points="0,8 8,8 4,0")
    div.grid-container.scrollable(show.bind="!showNoRowsMessage || (showNoRowsMessage && count > 0)")
      table.table.table-hover.table-bordered.table-condensed
        tbody
          tr(role="button", click.delegate="$parent.select($item)")
  // Footer div
  div.container-fluid
    div.grid-footer-container.row
      pager.col-sm-8(num-to-show.bind="pagerSize", pager.ref="pager", on-page-changed.call="pageChanged($event)", show-first-last-buttons.bind="showFirstLastButtons", show-jump-buttons.bind="showJumpButtons")
      div.col-sm-4.form-inline
        div.row
          div.col-xs-6
            select.form-control(value.bind="pageSize")
              option(value.bind="size", repeat.for="size of pageSizes") ${ size === '*' ? 'All' : size }
            span &nbsp;items per page
          div.col-xs-6(style="padding-top: 6px;")
            span.grid-summary Showing ${ firstVisibleItem } - ${ lastVisibleItem } of ${ count } items
    // No rows message
    div.alert.alert-warning(if.bind="showNoRowsMessage && count === 0") ${ noRowsMessage }
    div.grid-overlay(if.bind="loading")
    div.progress.grid-progress-indicator(if.bind="loading")
      div.progress-bar.progress-bar-striped.active(role="progressbar", style="width: 100%")
        span ${ loadingMessage }
